# Use a specific npm registry
registry=https://registry.npmjs.org/

# The authentication token for the npm registry.
//registry.npmjs.org/:_authToken=${NPM_TOKEN}

# Always save exact versions (no ^ or ~)
save-exact=true

# Always send authentication info when accessing the registry.
always-auth=true

# Disable optional dependencies
optional=false

# Disable package-lock generation, Control package-lock.json generation (usually irrelevant for published libs).
package-lock=true
